@charset "UTF-8";
@media screen and (max-width: 768px) {

  
    :root { /* ----CORES DO SITE---- */
        --azul:             #0202d3;
        --azul-claro:       #00BCD4;
        --azul-verde:       #00FFFF;
        --roxo:             #8D239F;
        --ciza:             #3B4C55;
        --ciza-claro:       #4E4E4E;
        --ciza-bclaro:      #C2C8C5;
        --ciza-escuro:      #292929;
        --branco:          #F5F5F5;
        --braco-puro:       #FFFFFF;  
        --preto:            #000000;
        --preto-claro:      #343A40;
    }
    /******MOBILE FORST******************/

    /**** CORPO DA PAGINA ******/
    main h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
        font-size: 18px;
        color: #0202d3;
    }


    /**** FIM DO CORPO DA PAGINA ******/
    
    .flex-itens-menu ul .logo-mobi {
        display: flex;
        margin: 0 auto;
        padding-bottom: 30px;
        z-index: 1;
    }

    .fundo h1 {
        display: flex;
        color: red;
        font-family: sans-serif;
        justify-content: flex-end;
        font-size: 25px;
        padding: 0 25px;
        cursor: pointer;
        z-index: 1;
    }
   
    .flex-itens-menu .fundo{
        border-bottom: 3px solid var(--azul);
        display: block;
        margin: 0px -95px;  
        margin-bottom: 20px;
        z-index: 1;
    }
  
    ul {
        background-color: rgba(0,0,0, 0.88);
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        padding: 20px 93px;
        flex-direction: column;
        z-index: 1;
    }

     li {
        margin-bottom: 30px;
        margin-top: 30px;
        z-index: 1;
    }

    li a {
        text-transform: uppercase;
        font-family: sans-serif;
        letter-spacing: 2px;
        padding: 0px 10px;
        border-radius: none;
        z-index: 1;
    }


    /********FIM DO MENU***************/
    #burgue {
        display: flex;
    }

    #menu {
        display: none;
    }

    .flex-logo {
        display: ;
    }
}   /* Mobile de 550 px */



@media screen and (max-width: 450px) {
    
    .menu-busca input[type="text"] {
        width: 220px;
        height: 30px;
        font-family: sans-serif;
        font-size: 13px;
    }
    .menu-busca input[type="button"] {
        width: 80px;
        height: 30px;
        font-family: sans-serif;
        font-size: 13px;
        font-weight: bold;
    }
    
    .menu-busca input[type="button"]:hover {
        background-color: var(--preto);
        transition: ;
        color: var(--azul);
        cursor: pointer;
        font-weight: bold;
    }

    .flex-footer h2 {
        font-size: 20px;
        gap: 5px;
        display: flex;
        justify-content: center;
        color: var(--azul);
    }

    .flex-footer h2 span {
        font-size: 13px;
        color: var(--braco-puro);
    }
}   /* Mobile de 350 px */




    @media screen and (max-width: 350px) {
    
        .menu-busca input[type="text"] {
            width: 200px;
            height: 30px;
            font-family: sans-serif;
            font-size: 12px;
        }
        .menu-busca input[type="button"] {
            width: 60px;
            height: 30px;
            font-family: sans-serif;
            font-size: 12px;
            font-weight: bold;
        }
        
        .menu-busca input[type="button"]:hover {
            background-color: var(--preto);
            color: var(--azul);
            cursor: pointer;
            font-weight: bold;
        }


        
}
    
